@font-face{
	font-family: 'elianto';
	src: url('../eliantoFont/elianto-regular-webfont.eot');
	src: url('../eliantoFont/elianto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../eliantoFont/elianto-regular-webfont.woff') format('woff'),
	     url('../eliantoFont/elianto-regular-webfont.ttf') format('truetype'),
	     url('../eliantoFont/elianto-regular-webfont.svg#webfont') format('svg');
}
div.row{
   margin-right: 0px;
	 margin-left: 0px;
}

div.container-fluid{
   padding-right: 0px;
	 padding-left: 0px;
}
#imagenCarrusel{
	height: 200px;
}
.header{
  padding-top: 15px;
  background-color:rgb(15, 15, 15);
  position: fixed;
  z-index: 100;
}
body{
  background-image: url('../images/background.png');

  background-repeat:repeat;
}
div .iconos {
  color: white;
  font-size: 30px;
  text-align: right;
  padding-right: 30px;
}
div .iconos i{
  padding-left: 15px;
}
div .logo {
  display:block;
  color: white;

}
div .logo h2{
  font-family: 'elianto', Arial, sans-serif;
  margin-top: 5px;
  font-size: 25px;
}

#search {
  text-align: center;
  padding-bottom: 15px;

}
.searching{
padding: 0px;
}
.searching input{
  text-decoration: none;
  border-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
  height: 100%;

}
.buscador{
	padding:0px;
}
.iconSearch {

  text-align: center;
  color:white;
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  background-color: rgb(79, 142, 219);
}
::-webkit-input-placeholder {
   text-align: center;
}
.portrait{
  margin-top:  15px;
  margin-bottom:  5px;
  width: 140px;
  height: 180px;
  border-radius: 5px;
  transition:all .5s ease-in-out;
  filter: saturate(50%);

}
.portrait:hover {
  filter: saturate(100%);
  border: 3px;
  border-color: black;
  border-style:inset;
}
.portadasEstrenos{
	margin-left: 10px;
	margin-right: 10px;

  text-align: center;
  margin-bottom: 20px;
}
.tituloEstreno{
  font-family: 'elianto', Arial, sans-serif;
  padding-top: 10px;
  text-align: center;
  background-color:rgb(32, 32, 32);
  color:white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-bottom: 20px;
}
.tituloEstreno h2{
  font-size: 25px;
}
#destacados{
  margin-top:  15px;
  margin-bottom:  5px;
  width: 140px;
  height: 180px;
  border-radius: 5px;
  transition:all .5s ease-in-out;
  filter: saturate(50%);
}
.contPortadas{
	padding:0px;


}

.uno{
  padding: 0px;

}
.dos{
  padding: 0px;

}

.separador{
  width: 100%;
  height: 38px;
  background-color:rgb(32, 32, 32);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center;
  font-family: 'elianto', Arial, sans-serif;

}
.separador h2{
  padding-top: 5px;
  font-size: 25px;
}
.separador2{
  width: 100%;
  height: 38px;
  background-color:rgb(32, 32, 32);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.precioCarro{
  text-align: center;
  color:white;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}
.precio{
  padding: 0px;
  padding-left: 20px;
  margin-top:  10px;
  text-align: center;
}
.precio h4{
  color:rgb(203, 51, 42);
  padding-left: 5px;
  font-size: 20px;

}
.carro{
  color: #7CC6FE;
  margin-top: 10px;
  padding: 0px;
}
.carro i{

  border: 1px solid #7CC6FE;
  border-radius: 100%;
  padding-left: 5px;
  padding-right:5px;
}
#nombreJuego{
  color:white;
  margin-bottom: 0px;
}
.carouselPrincipal{
  padding-top: 70px;

}
.carousel{
  padding-top: 30px;
}
.carousel-indicators li{
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-color: rgba(56, 56, 56, 0.7);
}
.contenedorDestacados{
   background-color: rgba(255, 255, 250, 0.2);
}
.carousel-control-prev{
  padding-right: 40px;
}

.carousel-control-next{
  padding-left: 40px;
}
.categorias{
	display: none;
}
@media (min-width: 768px){
	#imagenCarrusel{
		height: 300px;
	}
	.uno{

		padding-left: 20px;
	}
	.dos{

		padding-right: 20px;
	}
	#search{
		width: 500px;
	}
}
@media( min-width: 1024px){
	#imagenCarrusel{
		height: 500px;
	}
	.iconos{
		display: none;
	}

	.categorias {
		display: inline-block;
		color:white;
		padding: 0px;
	}
	.categorias ul{
		list-style:none;

	}

	.header{

		height: 175px;
	}
	.categorias ul li{
		padding-top: 20px;
		padding-bottom: 20px;
		font-family: 'elianto', Arial, sans-serif;
		font-size: 15px;
		transition:all .5s ease-in-out;
		border: none;


	}
		.categorias ul li :hover{
			border: 1px solid red;

		}
	div .logo h2 {
	  font-size: 40px;
		text-align: left;
		padding-left: 100px;

	}
	.carouselPrincipal{
		padding-top: 170px;
	}
	#navText {
		color: white;
		text-decoration: none;
		transition:all .2s ease-in-out;
		padding: 0px;
	}
	#navText :hover{
		color: rgb(218, 40, 40);
		border-bottom:2px solid rgb(218, 40, 40);
	}
	.carrito{
		color: white;
		font-size: 30px;
		text-align: center;
		padding-top: 7px;
		padding-left: 0px;
		padding-right: 0px;
		transition:all .2s ease-in-out;

	}
	.carrito:hover{
		color:rgb(218, 40, 40);
	}
	.navigation{
		margin: 0px;
		padding: 0px;
	}
	.navBar{
		padding-bottom: 10px;
	}
}
.footer{
	background-color:rgb(15, 15, 15);
	text-align: center;
}
.footer h5{
	color: rgb(203, 51, 42);
}
